body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Funnel Display", sans-serif;
}
.main{
    display: flex;
    height: 100vh;
    margin-right:  10px;
    background-color: #0a0909;
    color: white;
}
.sidebar{
    margin-right: 5px;
    background-color: #1a1a1d;
    width: 24%;
    border: 16px;
    margin-right: 10px;
    
}
.navbar{
    color: white;
    width: 100%;
    height: 100px;
    line-height: 50px;
    background-color: rgb(32, 29, 36);
    border-radius: 0 0 10px 10px;
}
.home{
    padding-left: 30px ;
    padding-top: 0px;
}
.home:hover{
    opacity: 0.70;
}
.search{
    padding-left: 30px;
    padding-bottom: 10px;
}
.search:hover{
    opacity: 0.70;
}
.library{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(32, 29, 36);
    align-items: center;
}
.yr-libr{
    margin-left: 0;
}
.yr-libr:hover{
    opacity: 0.70;
}
.yr-yero i:hover{
    opacity: 0.70;
}
.first-playlist{
    width: 100%;
    height: 130px;
    color: white;
    background-color: rgb(58, 54, 62);
    padding-top: 4px;
    border-radius: 12px;
    opacity: 0.80;
    margin: 1px auto;
    margin-top: 5px;
}
.first-playlist h3 {
    margin-left: 30px;
    margin-top: 10px;
}
.first{
    margin-left: 30px;
}
 .badge{
    width: 120px;
    opacity: 1;
    height: 32px;
    background-color: white;
    color: black;
    margin-left: 30px;
    text-decoration: none;
    font-size: 12px;
    padding: 12px  auto;
    border: none;
    border-radius: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}
.dark-badge{
    background-color: #000;
    color: white;
    width: 120px;
    height: 32pxmypro;
}
.dark-badge i{
    font-size: 15px;
    
    align-items: center;
}
.badge:hover{
    opacity: 0.70;
}
.lets-fint{
    margin-top: 10px;
}
.main-content{
    flex: 1;
    background-color:  #2e2e35;
    opacity: 0.90;
    overflow: auto;
}
.cards{
    margin-left: 25px;
}

.cards h2{
    color: white;
    font-size: 30px;
    font-weight: 500;
    opacity: 0.90;
    margin-left: 15px
}
.card{
    background-color: #42414b;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    margin: 10px auto;
    width: 180px;
    height: 285px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.container-recent{
    display: flex;
    flex-wrap: wrap;
    margin-right: 700px;
}
.recent-music{
    margin-left: 100px;
    position: absolute;
}

.card-img{
    width: 180px;
    height: 180PX;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}


.container-hover:hover{
    border-radius: 8px;
    cursor: pointer;
    background-color:#464451;
}
.sticky-nav{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
   
    height: 60px;
    
}
.nav-icon-option {
    font-size: 30px;
    margin-left: 25px;
    font-weight: 700;
    
}


.nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 35px;
}
.music-player{
    background-color: #151516;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 62px;
}
.add-to-fvrt{
    display: flex;

}
.footer-img img{
    width: 62px;
    height: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 3px;
}
.footer-title{
    margin-left: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}
.footer-title i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    margin-top: -30px;
}
.music-control{
    margin: 5px ;
    padding: 2px;
}
.music-control i{
   margin: 25px;
   margin-top: 15px;
   size: 20px;
}
.music-control i:hover{
    opacity: 0.60;
}
.music-rang{
    display: flex;
    margin-left: 500px;
    margin-top:-75px ;
    padding: 10px;
    margin-bottom: -5px;
}
.music-control input{
    width: 75%;
    height: 0.50px;
    padding-bottom: 8px;
    appearance: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;   
}
.control-system{
    display: flex;
    margin-left: 980px;
    margin-top:-77px ;
    padding: 10px;
    margin-bottom: -5px;

}
.control-unit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 300px;
}
.control-unit input[type="range"]{
    background-color: white;
}
.control-unit input[type="range"]::-webkit-slider-runnable-track{
    bac
}
